### JetBrains template
*.iml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Directory-based project format:
.idea/

out/
/.project
/bin/
/.classpath


/src/start/practice/tictactoe/
/src/start/practice/try5/
/src/start/practice/try4/
/src/start/practice/tictacktoe3/
/src/start/practice/ticktacktoe/
/src/start/practice/ticktacktoe2/
/src/start/practice/try6/
